;was here as a workaround
[power100]
Name = ARCHIPELAGO_ICON
NameTextID = 0
TooltipTextID = 0
SymbolSprites = ARCHIPELAGO_BIG ARCHIPELAGO_SMALL
PointerSprites = 0
PanelTabIndex = 0
SoundSamples = 0
SoundPlayed = 0
Power = 0   0   0   0   0   0   0   0   0   0
Cost =  0   0   0   0   0   0   0   0   0
Castability = ANYWHERE OWNED_CRTRS CUSTODY_CRTRS ALL_FOOD ALL_GOLD OWNED_OBJECTS_PICKUP
Artifact = 
Properties = INSTINCTIVE
PlayerState = PLAYER_STATE_NONE
ParentPower = NOPOWER
CastExpandFunc = do_not_expand
UseFunction = magic_use_power_hand

;just lined these up a bit in research order.
; if we want them all in order, possess 1, imp 2, tunneller 3, sight 4, speed 5, obey 6, cta 7, conceal 8, vision 9, flight 10, hold audience 11, slow 12, cave-in 13, freeze 14, heal 15, cleanse 16, time bomb 17, lightning 18, protect 19, rebound 20, chicken 21, disease 22, armageddon 23, destroy walls 24
[power28]
Name = POWER_TUNNELLER
PanelTabIndex = 17

[power27]
Name = POWER_VISION
PanelTabIndex = 18

[power26]
Name = POWER_FLIGHT
PanelTabIndex = 19

[power25]
Name = POWER_SLOW
PanelTabIndex = 20

[power24]
Name = POWER_FREEZE
PanelTabIndex = 21

[power101]
Name = POWER_CLEANSE
NameTextID = CLEANSE_POWER
TooltipTextID = 1068
SymbolSprites = 796 798
PointerSprites = 336
PanelTabIndex = 22
SoundSamples = 0
SoundPlayed = 162
Power = 250 250 250 250 250 250 250 250 250 250
Cost =  600   0   0   0   0   0   0   0   0
CostFormula = NONE
Cooldown = 20
Castability = ALL_GROUND OWNED_CRTRS ALLIED_CRTRS BOUND_CRTRS CUSTODY_CRTRS NEEDS_DELAY
Artifact = SPELLBOOK_CLNS
Properties = 
PlayerState = PLAYER_STATE_CAST_ON_TARGET
ParentPower = NOPOWER
CastExpandFunc = do_not_expand
Spell = SPELL_CLEANSE
UseFunction = magic_use_power_apply_spell

[power17]
Name = POWER_TIME_BOMB
PanelTabIndex = 23

[power23]
Name = POWER_REBOUND
PanelTabIndex = 24

;these aren't used but are here for future reference.
[power20]
Name = POWER_PICKUP_CREATURE
NameTextID = 961
TooltipTextID = 201
SymbolSprites = 0 0
PointerSprites = 0
PanelTabIndex = 0
SoundSamples = 0
SoundPlayed = 0
Power = 0   0   0   0   0   0   0   0   0   0
Cost =  0   0   0   0   0   0   0   0   0
Castability = ANYWHERE OWNED_CRTRS CUSTODY_CRTRS
Artifact = NULL
Properties = INSTINCTIVE
PlayerState = PLAYER_STATE_NONE
ParentPower = POWER_HAND
CastExpandFunc = do_not_expand
UseFunction = magic_use_power_hand

[power21]
Name = POWER_PICKUP_GOLD
NameTextID = 961
TooltipTextID = 201
SymbolSprites = 0 0
PointerSprites = 0
PanelTabIndex = 0
SoundSamples = 0
SoundPlayed = 0
Power = 0   0   0   0   0   0   0   0   0   0
Cost =  0   0   0   0   0   0   0   0   0
Castability = OWNED_GROUND UNCLMD_GROUND ALL_GOLD
Artifact = NULL
Properties = INSTINCTIVE
PlayerState = PLAYER_STATE_NONE
ParentPower = POWER_HAND
CastExpandFunc = do_not_expand
UseFunction = magic_use_power_hand

[power22]
Name = POWER_PICKUP_FOOD
NameTextID = 961
TooltipTextID = 201
SymbolSprites = 0 0
PointerSprites = 0
PanelTabIndex = 0
SoundSamples = 0
SoundPlayed = CAST_PICKUP
Power = 0   0   0   0   0   0   0   0   0   0
Cost =  0   0   0   0   0   0   0   0   0
Castability = ANYWHERE OWNED_FOOD
Artifact = NULL
Properties = INSTINCTIVE
PlayerState = PLAYER_STATE_NONE
ParentPower = POWER_HAND
CastExpandFunc = do_not_expand
UseFunction = magic_use_power_hand

[power29]
Name = POWER_PICKUP_OBJECT
NameTextID = 961
TooltipTextID = 201
SymbolSprites = 0 0
PointerSprites = 0
PanelTabIndex = 0
SoundSamples = 0
SoundPlayed = CAST_PICKUP
Power = 0   0   0   0   0   0   0   0   0   0
Cost =  0   0   0   0   0   0   0   0   0
Castability = ANYWHERE OWNED_OBJECTS_PICKUP
Artifact = NULL
Properties = INSTINCTIVE
PlayerState = PLAYER_STATE_NONE
ParentPower = POWER_HAND
CastExpandFunc = do_not_expand
UseFunction = magic_use_power_hand