[trap7]
Name = TNT
SellingValue = 1350
Unsellable = 1

[trap8]
Name = SENTRY

; Slightly more balanced for the player - slightly longer between shots, limited no. shots
[trap9]
Name = BALLISTA
Shots = 25
ShotOrigin = 0 50 160
TimeBetweenShots = 90
SellingValue = 800
RechargeAnimationSpeed = 62